@model IEnumerable<FinalProject.Models.ApplicationUser>
@{
    ViewData["Title"] = "listo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>listo</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyBuild)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyBuild)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
