
@{
    ViewData["Title"] = "Contact";
}
<<<<<<< HEAD
<body>

    <h1>Meet The Team</h1>
    <p></p>
    <p>Please Contact us if you have any question about our application</p>



    <div class="wrap">
        <div class="card">
            <img src="~/Images/Liz1.JPG" style="width:100%">
            <div class="container">
                <h3>Liz Hitctches</h3>
                <h4>Software Developer</h4>
                <p>
                    Email: Liz.Hitches@gmail.com
                    Phone: (347) 328-7585 <br />
                    <a href="https://github.com/LizHitches/">GitHub</a>
                    <a href="https://www.linkedin.com/in/lizhitches/">Linkedin</a>
                </p>
            </div>

        </div>

        <div class="card">
            <img src="~/Images/sam2.png" style="width:100%">
            <div class="container">
                <h3>Sam Thomson</h3>
                <h4>Software Developer</h4>
                <p>
                    Email: samuelthomson62@gmail.com
                    Phone: (616) 477-3477 <br />
                    <a href="https://github.com/samuel-thomson/">GitHub</a>
                    <a href="https://www.linkedin.com/in/samuelthomson62/">Linkedin</a>
                </p>
            </div>

        </div>

        <div class="card">
            <img src="~/Images/Manik.jpg" style="width:100%">
            <div class="container">
                <h3>Manik Nath</h3>
                <h4>Software Developer</h4>
                <p>
                    Email: maniknath79@gmail.com
                    Phone: (616) 328-7585 <br />
                    <a href="https://github.com/Maniknath">GitHub</a>
                    <a href="https://www.linkedin.com/in/manik-nath-966b2b80/">Linkedin</a>
                </p>
            </div>

        </div>
    </div>



    <style>
        body {
            height: 100%;
            margin: 0;
            background-image: url("~/wwwroot/Images/Empire2.JPG") no-repeat fixed center;
            background-size: cover;
        }

        .wrap {
            width: 1000px;
            margin: auto;
            margin-top: 20px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
            transition: 0.4s;
            width: 310px;
            background: #fff;
            text-align: center;
            font-size: 16px;
            font-family: sans-serif;
            float: left;
            margin: 10px;
        }

            .card:hover {
                transform: scale(1.2);
            }
    </style>

</body>
=======
    <body>

        <h1>Meet The Team</h1>
        <p></p>
        <p>Please Contact us if you have any question about our application</p>



        <div class="wrap">
            <div class="card">
                <img src="~/Images/Liz1.JPG" style="width:100%">
                <div class="container">
                    <h3>Liz Hitctches</h3>
                    <h4>Software Developer</h4>
                    <p>
                        Email: Liz.Hitches@gmail.com
                        Phone: (347) 328-7585 <br />
                        <a href="https://github.com/LizHitches/">GitHub</a>
                        <a href="https://www.linkedin.com/in/lizhitches/">Linkedin</a>
                    </p>
                </div>

            </div>

            <div class="card">
                <img src="~/Images/sam2.png" style="width:100%">
                <div class="container">
                    <h3>Sam Thomson</h3>
                    <h4>Software Developer</h4>
                    <p>
                        Email: samuelthomson62@gmail.com
                        Phone: (616) 477-3477 <br />
                        <a href="https://github.com/samuel-thomson/">GitHub</a>
                        <a href="https://www.linkedin.com/in/samuelthomson62/">Linkedin</a>
                    </p>
                </div>

            </div>

            <div class="card">
                <img src="~/Images/Manik.jpg" style="width:100%">
                <div class="container">
                    <h3>Manik Nath</h3>
                    <h4>Software Developer</h4>
                    <p>
                        Email: maniknath79@gmail.com
                        Phone: (616) 328-7585 <br />
                        <a href="https://github.com/Maniknath">GitHub</a>
                        <a href="https://www.linkedin.com/in/manik-nath-966b2b80/">Linkedin</a>
                    </p>
                </div>

            </div>
        </div>



        <style>
            body
            {
                height: 100%;
                margin: 0;
                background-image: url("~/wwwroot/Images/Empire2.JPG") no-repeat fixed center;
                background-size: cover;
            }

            .wrap {
                width: 1000px;
                margin: auto;
                margin-top: 20px;
            }

            .card {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
                transition: 0.4s;
                width: 310px;
                background: #fff;
                text-align: center;
                font-size: 16px;
                font-family: sans-serif;
                float: left;
                margin: 10px;
            }

                .card:hover {
                    transform: scale(1.2);
                }
        </style>

    </body>
>>>>>>> 755846fe4f7549e3de8de5228d4fe2e5a13e00d2








