
@{
    ViewData["Title"] = "Essentials";
}
<<<<<<< HEAD
    <body>
        <div class="centerbox">

            <h1 style="text-align:center">The Ten Essentials</h1>

            <img src="~/Images/ess.jpg" alt="Italian Trulli" width="auto" height="300" class="center" />

            <p>

            </p>
            <p>
                Packing the “Ten Essentials” whenever you step into the backcountry, even on day hikes, is a good habit.
                True, on a routine trip you may use only a few of them or none at all.
                It’s when something goes awry that you’ll truly appreciate the value of carrying these items that could be essential to your survival.
            </p>
            <p>
                The original Ten Essentials list was assembled in the 1930s by The Mountaineers, a Seattle-based organization for climbers and outdoor adventurers,
                to help people be prepared for emergency situations in the outdoors. Back then, the list included a map, compass, sunglasses and sunscreen, extra clothing,
                headlamp/flashlight, first-aid supplies, fire starter, matches, knife and extra food.
            </p>

            <p>Over the years, the list has evolved to a “systems” approach rather than including individual items. Here’s what it looks like today:</p>

            <p>
                Updated Ten Essential Systems

            <p>
                1 - Navigation: map, compass, altimeter, GPS device, personal locator beacon (PLB) or satellite messenger
            </p>
            <p>
                2 - Headlamp: plus extra batteries
            </p>
            <p>
                3 - Sun protection: sunglasses, sun-protective clothes and sunscreen
            </p>
            <p>
                4 - First aid: including foot care and insect repellent (as needed)
            </p>
            <p>
                5 - Knife: plus a gear repair kit
            </p>
            <p>
                6 - Fire: matches, lighter, tinder and/or stove
            </p>
            <p>
                7- Shelter: carried at all times (can be a light emergency bivy)
            </p>
            <p>
                8 - Extra food: Beyond the minimum expectation
            </p>
            <p>
                9 - Extra water: Beyond the minimum expectation
            </p>
            <p>
                10 - Extra clothes: Beyond the minimum expectation
            </p>

            <p>
                The exact items from each system that you take can be tailored to the trip you’re taking.
                For example, on a short day hike that’s easy to navigate you might choose to take a map, compass and PLB,
                but leave your GPS and altimeter behind. On a longer, more complex outing, you might decide you want all those
                tools to help you find your way. When deciding what to bring, consider factors like weather, difficulty, duration, and distance from help.

            <p>
                Continue reading below for more information about each of the Ten Essential systems.
                And for help figuring out what else to bring with you, check out our hiking checklists.
            </p>


            <p>
                For the original source and for more information gor to:
                <a href="https://www.rei.com/learn/expert-advice/ten-essentials.html">REI </a>
            </p>

        </div>
    </body>

<style>


 
    body, html {
        height: 100%;
        margin: 0;
        background-color:forestgreen;
        background-size: cover;
    }


    .centerbox {
        background-color: white;
        width: 95%;
        padding-left: 20px;
    }

=======

<div class="centerbox">

    <h1 style="text-align:center">The Ten Essentials</h1>

    <img src="~/Images/ess.jpg" alt="Italian Trulli" width="auto" height="300" class="center" />

    <p>

    </p>
    <p>
        Packing the “Ten Essentials” whenever you step into the backcountry, even on day hikes, is a good habit.
        True, on a routine trip you may use only a few of them or none at all.
        It’s when something goes awry that you’ll truly appreciate the value of carrying these items that could be essential to your survival.
    </p>
    <p>
        The original Ten Essentials list was assembled in the 1930s by The Mountaineers, a Seattle-based organization for climbers and outdoor adventurers,
        to help people be prepared for emergency situations in the outdoors. Back then, the list included a map, compass, sunglasses and sunscreen, extra clothing,
        headlamp/flashlight, first-aid supplies, fire starter, matches, knife and extra food.
    </p>

    <p>Over the years, the list has evolved to a “systems” approach rather than including individual items. Here’s what it looks like today:</p>

    <p>
        Updated Ten Essential Systems

    <p>
        1 - Navigation: map, compass, altimeter, GPS device, personal locator beacon (PLB) or satellite messenger
    </p>
    <p>
        2 - Headlamp: plus extra batteries
    </p>
    <p>
        3 - Sun protection: sunglasses, sun-protective clothes and sunscreen
    </p>
    <p>
        4 - First aid: including foot care and insect repellent (as needed)
    </p>
    <p>
        5 - Knife: plus a gear repair kit
    </p>
    <p>
        6 - Fire: matches, lighter, tinder and/or stove
    </p>
    <p>
        7- Shelter: carried at all times (can be a light emergency bivy)
    </p>
    <p>
        8 - Extra food: Beyond the minimum expectation
    </p>
    <p>
        9 - Extra water: Beyond the minimum expectation
    </p>
    <p>
        10 - Extra clothes: Beyond the minimum expectation
    </p>

    <p>
        The exact items from each system that you take can be tailored to the trip you’re taking.
        For example, on a short day hike that’s easy to navigate you might choose to take a map, compass and PLB,
        but leave your GPS and altimeter behind. On a longer, more complex outing, you might decide you want all those
        tools to help you find your way. When deciding what to bring, consider factors like weather, difficulty, duration, and distance from help.

    <p>
        Continue reading below for more information about each of the Ten Essential systems.
        And for help figuring out what else to bring with you, check out our hiking checklists.
    </p>


    <p>
        For the original source and for more information gor to:
        <a href="https://www.rei.com/learn/expert-advice/ten-essentials.html">REI </a>
    </p>

</div>


<style>


    body,html {
        background: url("~/Images/Empire2.JPG") no-repeat fixed center;
    }
    .centerbox
    {
    background-color: white;               
    width: 95%;
    padding-left: 20px;
    }
>>>>>>> 755846fe4f7549e3de8de5228d4fe2e5a13e00d2
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>