<h2>Search Trails by Name</h2>

<form asp-action="Search">
    <p>Location:</p>
    <input name="Id" type="text" />

    @*<p>Difficulty:</p>
    <input name="Difficulty" type="text"/>*@
   
    <input type="submit" />
</form>
<p>@ViewBag.Email</p>