
@{
    ViewData["Title"] = "Recomendations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Recomendations</h1>



<form asp-action="Search">

    <p>See Result:</p>

    <input type="submit" />




</form>



